

body {
    direction: rtl;
    font-family: system-ui, Arial, sans-serif;
}



header {
    color: #fff;
    background-size: cover;
    background-image: url('pictures/‏‏in&out1 - copy.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 12% 0%;
}

    header .headertext {
        text-align: right;
        position: absolute;
        margin-right: 38%;
    }

        header .headertext .logosent1 {
            font-size: 5vw;
            color: #57A669;
            margin-top: 4vw;
        }

        header .headertext .logosent2 {
            font-size: 1.56vw;
            color: #89B895;
        }



#nav1 {
    background-color: #70B08A;
}

    #nav1 ul {
        list-style: none;
        margin: 0px;
        text-align: center;
    }

        #nav1 ul li {
            display: inline-block;
        }

            #nav1 ul li a {
                background-color: #70B08A;
                display: block;
                height: 18px;
                width: 150px;
                text-align: center;
                padding: 5px 0px;
                color: #fff;
                text-decoration: none;
            }

                #nav1 ul li a:hover {
                    background-color: #FAAB6C;
                    text-decoration: underline;
                }

ul li a.disabled {
    pointer-events: none;
    cursor: default;
}

ul.breadcrumb {
    padding: 5px 13%;
    list-style-type: none;
    background-color: #FEF0E1;
    border-top: 0.5px solid #57A669;
}

    ul.breadcrumb li.breadcrumb {
        display: inline;
        font-size: 14px;
    }

        ul.breadcrumb li.breadcrumb a {
            color: black;
            text-decoration: none;
        }

            ul.breadcrumb li.breadcrumb a:hover {
                color: black;
                text-decoration: underline;
            }

        ul.breadcrumb li.breadcrumb:before {
            content: "\00bb";
            margin-right: 5px;
        }

        ul.breadcrumb li.breadcrumb:first-child:before {
            content: none;
        }


main {
    background-image: url('pictures/in&out backround.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    padding: 20px;
}


main .title10 {
    text-align: center;
    color: black;
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 50px;
}


h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 60px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    margin-top: 15px;
}

input,
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    input[type="submit"] {
        background-color: #333;
        color: #fff;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #555;
        }

.error-message {
    color: red;
    margin-top: 5px;
}
.radio-label {
    display: inline-block;
    margin-right: 10px;
}

footer {
    direction: ltr;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    footer a {
        color: #fff;
        text-decoration: none;
        margin-left: auto;
        font-size: 120%;
    }


        footer a:hover {
            text-decoration: underline;
        }